@charset "UTF-8";
/***********************************************************
 * Global
 ***********************************************************/

body {
  font-family: "Helvetica Neue", Verdana, Arial, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.9;
  font-size: 18px;
  background-color: #fbfafa;
  background: -webkit-radial-gradient(65%  5%, circle, #fffdfd, #eeeeee);
  background:    -moz-radial-gradient(65%  5%, circle, #fffdfd, #eeeeee);
  background:      -o-radial-gradient(65%  5%, circle, #fffdfd, #eeeeee);
  background:     -ms-radial-gradient(65%  5%, circle, #fffdfd, #eeeeee);
  background:         radial-gradient(65%  5%, circle, #fffdfd, #eeeeee);
}

hr {
  margin: 0;
  width: 100%;
  -moz-box-shadow:    0 -1px 1px rgba(0, 0, 0, 0.07), 0 0 2px rgba(255, 255, 255, 0.97);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07), 0 0 2px rgba(255, 255, 255, 0.97);
  box-shadow:         0 -1px 1px rgba(0, 0, 0, 0.07), 0 0 2px rgba(255, 255, 255, 0.97);
}

a {
  transition-property: all;
  transition: 0.3s linear;
}

a:focus {
  outline: thin dotted #888;
}

dt,
dd {
  line-height: 1.9;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  line-height: 1.9;
  border-top:    2px solid rgba(255,255,255,1);
  border-bottom: 2px solid rgba(255,255,255,1);
  border-width: 0 1px 1px 0;
  box-shadow: inset 0 -1px 0 0 rgba(228,212,221,0.5);
}

a:hover {
  text-decoration: none;
}

article a:hover {
  text-shadow: 0 0 1px rgba(0,24,32,0.1);
}

blockquote {
  font-size: inherit;
  border-left-color: #cccccc;
}

.balloon-defaults {
  font-size: 12px;
}

.block {
  display: block;
}

.adsbygoogle {
  margin: 30px 10px;
}

i[class^="icon-"] {
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

.icon-time {
  color: #79543a;
}

.icon-tag, .icon-tags {
  color: #4e793a;
}

.icon-comments {
  color: #ebc344;
}

.digits {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/***********************************************************
 * Default layout
 ***********************************************************/
header {
  height: 40px; line-height: 40px;
  overflow: hidden;
}

.header-logo > * {
  opacity: 0.5;
}

.header-logo > *:hover {
  opacity: 1;
}

h1.header-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom 0;
}
h1.header-logo img {
  vertical-align: top;
}

header i[class^="icon-"] {
  vertical-align: middle;
}

header .icon-rss {
  margin-left: -1em;
  font-size: 22px;
  color: #ee802f;
}

header .sns-icons {
  text-align: right;
}

.sns-icons {
  text-shadow: none;
}

.sns-icons i {
  margin-left:  5px;
  margin-right: 5px;
  padding-top: 4px; width: 24px; height: 24px;
  font-size: 16px;
  -moz-border-radius:    14px;
  -webkit-border-radius: 14px;
  border-radius:         14px;
}

.sns-icons > * {
  opacity: 0.5;
}

.sns-icons > *:hover {
  opacity: 1;
}

.sns-icons i.icon-github {
  color: #171515;
  background-color: #ddd;
}

.sns-icons i.icon-twitter {
  color: #fff;
  background-color: #00acee;
}

.sns-icons i.icon-facebook {
  color: #fff;
  background-color: #3b5998;
}

.main-content {
  margin-top: 10px;
  margin-bottom: 30px;
}

footer {
  font-size: 14px;
  margin-top:    30px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0 #fff;
  overflow: hidden;
}

.recent-posts .icon-paper-clip {
  color: #a00;
}

.recent-posts dt {
  font-weight: normal;
}

.tag-cloud {
  text-align: center;
}

.repos dd {
  font-size: 90%;
}

.repos .github-btn {
  position: relative;
  top: 4px;
}

.repos .icon-github {
  color: #171515;
}

.technology {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.technology i {
  display: block;
  color: #ff7979;
  font-size: 24px;
  width: auto;
}

.technology-logo {
  display: block;
  background: url('/img/layout/technology-logo.png') no-repeat top left;
  width: 100px; height: 50px;
  margin: 20px auto;
}
.technology-logo.Boostrap-logo { background-position: 0    0px; }
.technology-logo.jQuery-logo   { background-position: 0  -60px; }
.technology-logo.Jekyll-logo   { background-position: 0 -120px; }
.technology-logo.GitHub-logo   { background-position: 0 -180px; }
.technology-logo.git-logo      { background-position: 0 -240px; }

.copyright {
  text-align: center;
  color: #bbb;
  margin-top: 15px;
}

/***********************************************************
 * Post
 ***********************************************************/

.post h1 {
  margin-bottom: 20px;
}

.post h2, h3 {
  margin-top: 30px;
}

.post p {
  margin-bottom: 10px;
}

.post p,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6
{
  text-shadow: 1px 1px 0 #fff;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6
{
  font-weight: bold;
  line-height: 1.9;
  color: #554444;
}

.post pre {
  font-family: Osaka-mono, monospace;
  font-size: inherit;
  line-height: 1.4;
  overflow: auto;
  word-wrap: normal;
  margin-top:    30px;
  margin-bottom: 30px;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border-radius:         4px;
}

.post code {
  border: 1px solid #f3d5dc;
  font-family: inherit;
  font-size: 100%;
  padding-top:    1px;
  padding-right:  4px;
  padding-left:   4px;
  padding-bottom: 3px;
  margin-left:   3px;
  margin-right:  3px;
}

.post pre > code {
  font-size: inherit;
  border: none;
  white-space: pre;
  font-weight: normal;
  padding:  0;
  margin:   0;
}

.main-content a[href*="//"]:after {
  content: "\f08e";
  vertical-align: super;
  font-size: 0.8em;
  padding: 3px;
  font-family: FontAwesome;
}

.main-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px auto;
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  border-radius:         6px;
  border: 1px solid rgba(0,0,0,0.1);
}

.main-content .table {
  -moz-box-shadow:    1px 1px 1px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
  box-shadow:         1px 1px 1px rgba(0, 0, 0, 0.07);
}

.main-content th {
  font-weight: normal;
  background-color: #776666;
  color: #fcfcfc
}

.post-aux .badge {
  vertical-align: super;
  font-size: 70%;
  background-color: #ddd;
  font-weight: normal;
  color: #428bca;
  text-shadow: none;
}

.post-aux {
  color: #888;
  font-size: 14px;
  margin-top: 20px;
  line-height: 2.4;
  opacity: 0.7;
  text-shadow: 1px 1px 0 #fff;
}

.post-aux:hover {
  opacity: 1;
}

#disqus_thread {
  margin-top: 20px;
}

.sns-buttons > li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.twitter-share-button,
.hatena-bookmark-button,
.g-plusone,
.fb-like,
.pocket-btn {
  display: inline-block;
}

.hatena-bookmark-button {
  margin-right: 10px;
}

.fb-like {
  margin-right: 10px;
  margin-left: -10px;
}

.fb_iframe_widget > span {
  vertical-align: top !important;
  margin-top: 2px;
}

.pocket-btn {
  margin-left: -20px;
  margin-right: -30px;
}

/***********************************************************
 * Post list related tag
 ***********************************************************/
.post-list-row {
  margin-bottom: 20px;
}

/***********************************************************
 * Top page
 ***********************************************************/
.typography {
  position: relative;
  margin: 80px 20px 120px 20px;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  line-height: 1.4;
  font-family: inherit;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .3), 0 1px 1px rgba(255, 255, 255, .90);
  color: #eee4e4;
}

.typography:before {
  position: absolute; top: 0; left: 0;
  content: attr(title);
  color: #aaa0a0;
  -webkit-mask-image: -webkit-radial-gradient(50% 50%, circle, rgba(0,0,0,0), rgba(0,0,0,1));
}

