.highlighter-rouge pre  { color: #ccccc0; background-color: #3b3f43 }
.highlighter-rouge pre .c { color: #969896; } /* Comment */
.highlighter-rouge pre .err { color: #ccccc0; } /* Error */
.highlighter-rouge pre .g { color: #ccccc0; } /* Generic */
.highlighter-rouge pre .k { color: #81A2BE; } /* Keyword */
.highlighter-rouge pre .l { color: #ccccc0; } /* Literal */
.highlighter-rouge pre .n { color: #ccccc0; } /* Name */
.highlighter-rouge pre .o { color: #ccccc0; } /* Operator */
.highlighter-rouge pre .x { color: #ccccc0; } /* Other */
.highlighter-rouge pre .p { color: #ccccc0; } /* Punctuation */
.highlighter-rouge pre .cm { color: #969896; } /* Comment.Multiline */
.highlighter-rouge pre .cp { color: #DE94BB; } /* Comment.Preproc */
.highlighter-rouge pre .c1 { color: #969896; } /* Comment.Single */
.highlighter-rouge pre .cs { color: #969896; } /* Comment.Special */
.highlighter-rouge pre .gd { color: #1D1F21; } /* Generic.Deleted */
.highlighter-rouge pre .ge { color: #81A2BE; } /* Generic.Emph */
.highlighter-rouge pre .gr { color: #CC6666; } /* Generic.Error */
.highlighter-rouge pre .gh { color: #F0C674; } /* Generic.Heading */
.highlighter-rouge pre .gi { color: #D7FFAF; } /* Generic.Inserted */
.highlighter-rouge pre .go { color: #494F57; } /* Generic.Output */
.highlighter-rouge pre .gp { color: #ccccc0; } /* Generic.Prompt */
.highlighter-rouge pre .gs { color: #ccccc0; } /* Generic.Strong */
.highlighter-rouge pre .gu { color: #F0C674; } /* Generic.Subheading */
.highlighter-rouge pre .gt { color: #1D1F21; } /* Generic.Traceback */
.highlighter-rouge pre .kc { color: #81A2BE; } /* Keyword.Constant */
.highlighter-rouge pre .kd { color: #81A2BE; } /* Keyword.Declaration */
.highlighter-rouge pre .kn { color: #81A2BE; } /* Keyword.Namespace */
.highlighter-rouge pre .kp { color: #81A2BE; } /* Keyword.Pseudo */
.highlighter-rouge pre .kr { color: #81A2BE; } /* Keyword.Reserved */
.highlighter-rouge pre .kt { color: #DE935F; } /* Keyword.Type */
.highlighter-rouge pre .ld { color: #ccccc0; } /* Literal.Date */
.highlighter-rouge pre .m { color: #ccccc0; } /* Literal.Number */
.highlighter-rouge pre .s { color: #B5BD68; } /* Literal.String */
.highlighter-rouge pre .na { color: #F0C674; } /* Name.Attribute */
.highlighter-rouge pre .nb { color: #ccccc0; } /* Name.Builtin */
.highlighter-rouge pre .nc { color: #F0C674; } /* Name.Class */
.highlighter-rouge pre .no { color: #CC6666; } /* Name.Constant */
.highlighter-rouge pre .nd { color: #ccccc0; } /* Name.Decorator */
.highlighter-rouge pre .ni { color: #B5BD68; } /* Name.Entity */
.highlighter-rouge pre .ne { color: #ccccc0; } /* Name.Exception */
.highlighter-rouge pre .nf { color: #F0C674; } /* Name.Function */
.highlighter-rouge pre .nl { color: #B294BB; } /* Name.Label */
.highlighter-rouge pre .nn { color: #ccccc0; } /* Name.Namespace */
.highlighter-rouge pre .nx { color: #ccccc0; } /* Name.Other */
.highlighter-rouge pre .py { color: #ccccc0; } /* Name.Property */
.highlighter-rouge pre .nt { color: #81A2BE; } /* Name.Tag */
.highlighter-rouge pre .nv { color: #B294BB; } /* Name.Variable */
.highlighter-rouge pre .ow { color: #B5BD68; } /* Operator.Word */
.highlighter-rouge pre .w { color: #ccccc0; } /* Text.Whitespace */
.highlighter-rouge pre .mf { color: #ccccc0; } /* Literal.Number.Float */
.highlighter-rouge pre .mh { color: #ccccc0; } /* Literal.Number.Hex */
.highlighter-rouge pre .mi { color: #ccccc0; } /* Literal.Number.Integer */
.highlighter-rouge pre .mo { color: #ccccc0; } /* Literal.Number.Oct */
.highlighter-rouge pre .sb { color: #B5BD68; } /* Literal.String.Backtick */
.highlighter-rouge pre .sc { color: #B5BD68; } /* Literal.String.Char */
.highlighter-rouge pre .sd { color: #B5BD68; } /* Literal.String.Doc */
.highlighter-rouge pre .s2 { color: #B5BD68; } /* Literal.String.Double */
.highlighter-rouge pre .se { color: #B5BD68; } /* Literal.String.Escape */
.highlighter-rouge pre .sh { color: #B5BD68; } /* Literal.String.Heredoc */
.highlighter-rouge pre .si { color: #B5BD68; } /* Literal.String.Interpol */
.highlighter-rouge pre .sx { color: #B5BD68; } /* Literal.String.Other */
.highlighter-rouge pre .sr { color: #B5BD68; } /* Literal.String.Regex */
.highlighter-rouge pre .s1 { color: #B5BD68; } /* Literal.String.Single */
.highlighter-rouge pre .ss { color: #B5BD68; } /* Literal.String.Symbol */
.highlighter-rouge pre .bp { color: #ccccc0; } /* Name.Builtin.Pseudo */
.highlighter-rouge pre .vc { color: #B294BB; } /* Name.Variable.Class */
.highlighter-rouge pre .vg { color: #B294BB; } /* Name.Variable.Global */
.highlighter-rouge pre .vi { color: #B294BB; } /* Name.Variable.Instance */
.highlighter-rouge pre .il { color: #ccccc0; } /* Literal.Number.Integer.Long */
