.highlight pre  { color: #eeeee8; background-color: #3b3f43 }
.highlight pre .c { color: #969896; } /* Comment */
.highlight pre .err { color: #F8F8F2; } /* Error */
.highlight pre .g { color: #F8F8F2; } /* Generic */
.highlight pre .k { color: #81A2BE; } /* Keyword */
.highlight pre .l { color: #F8F8F2; } /* Literal */
.highlight pre .n { color: #F8F8F2; } /* Name */
.highlight pre .o { color: #F8F8F2; } /* Operator */
.highlight pre .x { color: #F8F8F2; } /* Other */
.highlight pre .p { color: #F8F8F2; } /* Punctuation */
.highlight pre .cm { color: #969896; } /* Comment.Multiline */
.highlight pre .cp { color: #DE94BB; } /* Comment.Preproc */
.highlight pre .c1 { color: #969896; } /* Comment.Single */
.highlight pre .cs { color: #969896; } /* Comment.Special */
.highlight pre .gd { color: #1D1F21; } /* Generic.Deleted */
.highlight pre .ge { color: #81A2BE; } /* Generic.Emph */
.highlight pre .gr { color: #CC6666; } /* Generic.Error */
.highlight pre .gh { color: #F0C674; } /* Generic.Heading */
.highlight pre .gi { color: #D7FFAF; } /* Generic.Inserted */
.highlight pre .go { color: #494F57; } /* Generic.Output */
.highlight pre .gp { color: #F8F8F2; } /* Generic.Prompt */
.highlight pre .gs { color: #F8F8F2; } /* Generic.Strong */
.highlight pre .gu { color: #F0C674; } /* Generic.Subheading */
.highlight pre .gt { color: #1D1F21; } /* Generic.Traceback */
.highlight pre .kc { color: #81A2BE; } /* Keyword.Constant */
.highlight pre .kd { color: #81A2BE; } /* Keyword.Declaration */
.highlight pre .kn { color: #81A2BE; } /* Keyword.Namespace */
.highlight pre .kp { color: #81A2BE; } /* Keyword.Pseudo */
.highlight pre .kr { color: #81A2BE; } /* Keyword.Reserved */
.highlight pre .kt { color: #DE935F; } /* Keyword.Type */
.highlight pre .ld { color: #F8F8F2; } /* Literal.Date */
.highlight pre .m { color: #F8F8F2; } /* Literal.Number */
.highlight pre .s { color: #B5BD68; } /* Literal.String */
.highlight pre .na { color: #F0C674; } /* Name.Attribute */
.highlight pre .nb { color: #F8F8F2; } /* Name.Builtin */
.highlight pre .nc { color: #F8F8F2; } /* Name.Class */
.highlight pre .no { color: #CC6666; } /* Name.Constant */
.highlight pre .nd { color: #F8F8F2; } /* Name.Decorator */
.highlight pre .ni { color: #B5BD68; } /* Name.Entity */
.highlight pre .ne { color: #F8F8F2; } /* Name.Exception */
.highlight pre .nf { color: #F0C674; } /* Name.Function */
.highlight pre .nl { color: #F8F8F2; } /* Name.Label */
.highlight pre .nn { color: #F8F8F2; } /* Name.Namespace */
.highlight pre .nx { color: #F8F8F2; } /* Name.Other */
.highlight pre .py { color: #F8F8F2; } /* Name.Property */
.highlight pre .nt { color: #81A2BE; } /* Name.Tag */
.highlight pre .nv { color: #B294BB; } /* Name.Variable */
.highlight pre .ow { color: #B5BD68; } /* Operator.Word */
.highlight pre .w { color: #F8F8F2; } /* Text.Whitespace */
.highlight pre .mf { color: #F8F8F2; } /* Literal.Number.Float */
.highlight pre .mh { color: #F8F8F2; } /* Literal.Number.Hex */
.highlight pre .mi { color: #F8F8F2; } /* Literal.Number.Integer */
.highlight pre .mo { color: #F8F8F2; } /* Literal.Number.Oct */
.highlight pre .sb { color: #B5BD68; } /* Literal.String.Backtick */
.highlight pre .sc { color: #B5BD68; } /* Literal.String.Char */
.highlight pre .sd { color: #B5BD68; } /* Literal.String.Doc */
.highlight pre .s2 { color: #B5BD68; } /* Literal.String.Double */
.highlight pre .se { color: #B5BD68; } /* Literal.String.Escape */
.highlight pre .sh { color: #B5BD68; } /* Literal.String.Heredoc */
.highlight pre .si { color: #B5BD68; } /* Literal.String.Interpol */
.highlight pre .sx { color: #B5BD68; } /* Literal.String.Other */
.highlight pre .sr { color: #B5BD68; } /* Literal.String.Regex */
.highlight pre .s1 { color: #B5BD68; } /* Literal.String.Single */
.highlight pre .ss { color: #B5BD68; } /* Literal.String.Symbol */
.highlight pre .bp { color: #F8F8F2; } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #B294BB; } /* Name.Variable.Class */
.highlight pre .vg { color: #B294BB; } /* Name.Variable.Global */
.highlight pre .vi { color: #B294BB; } /* Name.Variable.Instance */
.highlight pre .il { color: #F8F8F2; } /* Literal.Number.Integer.Long */
